/*********************************
FONTS
*********************************/
$main-font-family: 'Rubik', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$montserrat-font-family: 'Montserrat', sans-serif;
$montserrat-font-weight-regular: 400;
/*********************************
COLORS
*********************************/
$primary-text-color: #292D32;
$primary-bg-color: #292D32;
$primary-active-text-color: #F35D5D;
$primary-active-bg-color: #F35D5D;
$secondary-text-color: #F35D5D;
$secondary-bg-color: #F35D5D;
$success-text-color: #95D0D5;
$success-bg-color: #95D0D5;
$dark-text-color: #000000;
$dark-bg-color: #000000;
$light-text-color: #F5F5F5;
$light-bg-color: #F4F4F4;
$white-text-color: #ffffff;
$white-bg-color: #ffffff;