.form {
    .label {
        width: 100%;
        display: block;
        font-size: 14px;
        margin-bottom: 6px;
        @include rubik_regular;
    }

    input, textarea {
        border: none;
        height: 50px;
        width: 100%;
        background: $light-bg-color;
        color: $primary-text-color;
        font-size: 14px;
        padding: 15px 20px;
        margin-bottom: 24px;
        @include rubik_regular;
        @include display-flex;
        @include align-items-center;
        @include ios-border-radius-null;

        &:focus-visible {
            border-right: 0;
            -webkit-tap-highlight-color: $primary-active-bg-color;
            outline: $primary-active-bg-color auto 1px;
        }

        @include placeholder {
            color: rgba($dark-text-color, 0.4);
        }

        @include min-medium {
            margin-bottom: 16px;
        }
    }

    textarea {
        min-height: 153px;
        resize: vertical;
    }

    .submit {
        height: 50px;
        width: 100%;
        color: $white-text-color;
        font-size: 16px;
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;
        @include rubik_medium;
        background: $secondary-bg-color;
        @include transition(all 0.3s);
        cursor: pointer;

        @include min-small {
            @include rubik_regular;
        }

        @include min-medium {
            @include rubik_light;

            &:hover {
                @include translate3d(0, -5px, 0);
            }
        }
    }
}